#login{
    height: 100%;
}

#main-nav{
    border-bottom: 1px solid #fff;
}

label{
    color: #fff;
}

a .card:hover {
    background-color: #0275d8;
    color: #fff;
    text-decoration: none !important;
}